body{
  margin: 0px;
  padding: 0px;
  color:white;
}
main h1{
  text-align:center;
}
main{
  position: relative;
  margin: 0 auto;
  width: 70%;
  height: 80vh;
  background: #123b70;
  top:50%;
  transform: translateY(15%);
  box-shadow: 10px 10px 20px 1px black;;
}
